<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-screen h-screen bg-[url('/images/hireme.jpg')] bg-cover bg-center bg-no-repeat text-white flex items-center  justify-center">
   <div class="absolute inset-0 bg-black/40 -z-10"></div>

<div>
        <div class="p-10 text-white w-96 bg-transparent/10 backdrop-blur-lg rounded-2xl shadow-2xl border border-white/20">
   <h3 class="text-3xl mb-6 font-bold text-center tracking-wide">
            Login Account
        </h3>
        <form action="/login" method="post" class="flex flex-col items-center text-black">
              <input class="w-full px-3 py-2 bg-white border-white/10 rounded-lg placeholder-grey-500 outline-none mb-2" type="text" name="email" placeholder="email" required>
              <input class="w-full px-3 py-2 bg-white border-white/10 rounded-lg placeholder-grey-500 outline-none" type="text" name="password" placeholder="password" required>
              <button type="submit" class="w-full px-3 py-2 bg-blue-500 rounded-lg mt-2">
                 Login   
            </button>
             <a class="text-white inline-block mt-3" href='/'><u>Back to Homepage</u> </a>
        </form>
        </div>
    </div>
</body>
</html>