<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
        <p>OTP sent to: <%= email %></p>
        <form action="/verifyotp" method="post">
            
            <!-- hidden email field -->
            <input type="hidden" name="email" value="<%= email %>">
            
            <!-- OTP input -->
            <input type="text" name="code" placeholder="Enter OTP" required>
            
            <button type="submit">Verify OTP</button>
        </form>
    </div>
</body>
</html>